<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>List View App</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <!--HTML content goes here-->
         <ul id="list">
         </ul>
         <input id="input" type="text"></input>
         <button id="button">Insert</button>
        
        <!--You can load all the javascript files here-->
        <script type="text/javascript" src="js/script.js">
    function addItem(){
        var li = document.createElement("LI");  
        var input = document.getElementById("add");
        li.innerHTML = input.value;
        input.value = "";

        document.getElementById("faves").appendChild(li);
    }</script>
    
    <input type="button" id="btnAdd" value="Add" onclick="addItem()">
    </body>
</html>
