<!DOCTYPE html>
<html>
    <head>
        <!--Define title-->
        <title>List View App</title>
        
        <!--You can load all the css files here -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body>
        <!--HTML content goes here-->
         <ul id="list">
         </ul>
         <input id="input" type="text"></input>
         <button id="button">Insert</button>
        
        <!--You can load all the javascript files here-->
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
